# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/main/resources/Assets/testmod/textures/block/TEMP
src/main/resources/Assets/testmod/textures/item/TEMP
src/main/resources/Assets/testmod/textures/models/armor/TEMP

# Files from Forge MDK
forge*changelog.txt
